attrs
coverage
freezegun
future
more-itertools<5.0  # The last version with Python 2 support
pytest<5.0  # The last version with Python 2 support
pytest-asyncio ; python_version > "3.3"
pytest-mock
mock
testing.redis
sqlalchemy
structlog
